<h1>Listar Articulos</h1>
<%= link_to 'Nuevo Articulo', new_article_path %>
<table>
  <tr>
    <th>Titulo</th>
    <th>Mensaje</th>
  </tr>

  <% @articulo.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Ver', article_path(article) %></td>
       <td><%= link_to 'Editar', edit_article_path(article) %></td>
       <td><%= link_to 'Eliminar', { :action => :destroy, :id => article.id }, :method => :delete, :data => { :confirm => 'Seguro?' } %></td>
    </tr>
  <% end %>
</table>
