<p>
<strong>Titulo:</strong>
<%= @article.title %>
</p>
<p>
  <strong>Mensaje:</strong>
  <%= @article.text %>
</p>

<%= link_to '<', articles_path %> | <%= link_to 'Otro Articulo', new_article_path %>
| <%= link_to 'Editar', edit_article_path(@article) %>
