
<p>
<strong><%=t :title %>:</strong>
<%= @article.title %>
</p>
<p>
  <strong><%=t :text %>:</strong>
  <%= @article.text %>
</p>

<%= link_to t('back'), articles_path %> | <%= link_to t('new_post'), new_article_path %>
| <%= link_to t('edit'), edit_article_path(@article) %>
